
###########################################
#################### R ####################
###########################################
##### IGNORAR
renv/
**/data/raw/
##### NÃO IGNORAR
!.Rprofile
!renv.lock