
###########################################
#################### R ####################
###########################################
##### IGNORAR
renv/*
**/data/raw/
##### NÃO IGNORAR
!**/renv/activate.R
!.Rprofile
!renv.lock