###########################################
#################### R ####################
###########################################
##### IGNORAR
renv/*
**/data/*
**/data/**/*mcti*.*

##### NÃO IGNORAR
!**/data/
!**/data/**/*.json
!**/renv/activate.R
!.Rprofile
!renv.lock